<div class="pageheader container">
  <div class="row">
    <div class="col-sm-4">
      <!-- Partial for languagemenu -->

    </div>
    <div class="col-sm-8">
      <!-- Partial for Search Formular -->

    </div>
  </div>
</div>
<div class="mainnav">
  <nav class="main-nav container" role="navigation">

    <!-- Mobile menu toggle button (hamburger/x icon) -->
    <input id="main-menu-state" type="checkbox"/>
    <label class="main-menu-btn" for="main-menu-state">
      <span class="main-menu-btn-icon"></span> Toggle main menu visibility
    </label>

    <!-- Partial for Mainnavigation -->
  </nav>
</div><!-- Ende mainnav -->

<!-- CONTENT AREA -->
<!-- Beginn Footer Bereich -->
<hr>

<!-- Partial Footer -->
</div> <!-- Ende Content Container -->
